* {
    box-sizing: border-box;
}

:root {
    --font-text-sidebar: 'Lato';

    --casual-text-color: rgb(245, 245, 245);

    /* DARK THEME */
    --background-dark-color: rgb(22, 22, 33);
    --background-light-color: rgb(28, 28, 37);
    --casual-dark-text-color: rgb(48, 48, 48);

    --main-background-color: rgb(26, 26, 46);

    --element-background-color: rgb(32, 32, 63);
    --element-background-lite-color: rgb(45, 45, 80);
    

    /* LIGHT THEME */
    --background-lt-dark-color: rgb(43, 43, 43); 

    --main-lt-background-color: whitesmoke;
    --element-lt-background-color: rgb(113, 113, 113);
    --element-lt-background-lite-color: rgb(230, 230, 230);

    --casual-lt-text-color: rgb(48, 48, 48);
    

    --red-main-theme-color: rgb(4, 180, 107);
    /*--red-main-theme-color: #f61e41;*/
    --green-text-color: rgb(13, 222, 13);
    --gold-text-color: rgb(255, 217, 0);

    --sidebar-elemenet-width: 10vw;

    --standard-element-border-radius: 12px;
}

.standard-button {
    border: none;
    outline: none;
    cursor: pointer;
}

.text-font {
    font-family: var(--font-text-sidebar);
}

.text-indent {
    padding-left: 5%;
}

.text-number-main {
    font-size: 2.2rem;
    font-weight: bold;
}

.green-text {
    color: var(--green-text-color);
}

.gold-text {
    color: var(--gold-text-color);
}

#page-content {
    width: 100vw;
    position: relative;
}

.casual-dark-text {
    color: var(--casual-lt-text-color);
}

.casual-text-color {
    color: var(--casual-lt-text-color);
}

.main-red-text {
    color: var(--red-main-theme-color);
    font-weight: bold;
}

.casual-red-text {
    color: var(--red-main-theme-color);
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flex-column-left {
    display: flex;
    justify-content: center;
    align-items: start;
}

.flex-spaced {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}


/* ----------------- */
/* ---- SIDEBAR ---- */
/* ----------------- */

.sidebar-element {
    position: fixed;
    height: 100%;
    width: 12vw;
    background: var(--background-lt-dark-color);
    transition: all 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
    padding-top: 1%;
}

.sidebar-element:hover {
    height: 100%;
    width: 16%
}

.sidebar-element:hover .ls-text {
    letter-spacing: 15px;
}

.sidebar-section {
    height: 33.33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-section {
    height: 13%;
}

.logo-section > h3 {
    margin: 1%;
    color: var(--casual-text-color);
}

.sidebar-logo {
    width: 120px;
    height: 100px;
}

.sidebar-buttons {
    display: flex;
    justify-content: center;
}

.link-menu-button {
    width: 100%;
    text-decoration: none;
}

.menu-button {
    width: 100%;
    height: 7vh;
    color: var(--casual-text-color);
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 20% 0 20%;
    position: relative;
}

.bottom-menu-button .bmb-active {
    left: 5%;
}

.menu-button:hover {
    background: var(--red-main-theme-color);
}

.mb-inactive {
    background: none;
}

.mb-active {
    background: var(--red-main-theme-color);
}

.sb-button-active {
    background: var(--red-main-theme-color);
}


/* ----------------- */
/* ---- POP-UPS ---- */
/* ----------------- */

.popup-hide {
    display: none !important;
}

.add-pop-up {
    height: 100%;
    width: 40%;
    background: var(--element-lt-background-color);
    text-align: left;
    color: white;
    border: 3px solid var(--background-lt-dark-color);
    position: relative;
}

#transaction-add-pop-up {
    height: 90vh;
}

.add-pop-up-heading {
    background: var(--background-lt-dark-color);
    height: 10%;
    display: flex;
    align-items: center;
}

.add-pop-up-heading > h1 {
    margin: 0;
    font-size: 1.8rem;
}

.add-pop-up-input {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 3%;
    padding-bottom: 3%;
}

.add-pop-up-input > h3 {
    margin: 0.9em 0 0.6em 0;
}

.add-pop-up-input > input, select {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: whitesmoke;
    height: 4vh;
    width: 70%;
    color: var(--casual-lt-text-color);
}

.add-pop-up-input > select, option {
    cursor: pointer;
}

.add-pop-up-verify {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red-main-theme-color);
    position: absolute;
    bottom: 0;
}

.add-pop-up-verify-button {
    background: transparent;
}

.exit-pop-up-button {
    background: var(--background-light-color);
}

.add-pop-up-verify-button, .exit-pop-up-button {
    height: 100%;
    width: 50%;
    font-size: 1.2rem;
    color: white;
}

.blacked-out {
    background: black;
}

.add-pop-up-span {
    display: flex;
    align-items: center;
}

.add-pop-up-span > span {
    margin-left: 10%;
    font-size: 0.8rem;
    border-radius: 50%;
    background: rgba(128, 128, 128, 0.8);
    height: 15px;
    width: 25px;
    cursor: pointer;
    position: relative;
}

.add-pop-up-span > span::after {
    content: "Notify when going over the limit whilst adding a new transaction.";
    position: absolute;
    display: none;
    left: 140%;
    height: 200%;
    width: 15vw;
    font-size: 0.6rem;
    background: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.add-pop-up-span > span:hover::after {
    display: block;
}


/* ----------------------- */
/* ---- ITEM DISPLAYS ---- */
/* ----------------------- */

.item-display {
    background: rgb(235, 235, 235);
    border-radius: var(--standard-element-border-radius);
    padding: 1%;
    color: var(--casual-lt-text-color);
}